
.benefits {

    display: flex;
    justify-content: center;
 
  }
  .benefits__wrapper{
    max-width: 977px;
  }
 
  .benefits__title {

    text-align: center;
  }
  
 
  .benefits__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  
  .benefits__item {
    display: flex;
    align-items: flex-start;
    gap: 16px;
 
  }
  
 
  .benefits__icon {
    font-size: 20px;
    color: #79ece1;
    flex-shrink: 0;
  }
  
 
  .benefits__content {
    flex: 1;
    line-height: 1.1;
  }
  
 
  .benefits__subtitle {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px;
    color: var(--color-primery);
  }
  
 
  .benefits__description {
    font-size: 16px;
    color: #555;
    margin: 0;
  }