.bonus-section {
  text-align: center;
 }
.carousel {
    display: flex;
    row-gap: 15px;
   
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    animation: none;
    will-change: transform;
  }
  
  .carousel img {
    width: 120px; 
    height: 64px;

    object-fit: cover;
    
  }
  
  .carousel-container {
    overflow: hidden;
    position: relative;
  }
  .slider:not(:last-child) {
    margin-bottom: 24px;
  }
  
  .is-mobile {
    display: none;
}
