/* Загальні стилі */
/* body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F8FF;
  } */
  
  /* .carousel-section {
    position: relative;
    overflow: hidden;
    transform: translateY(100%); 
    opacity: 0;bonus-section
    transition: transform 1s ease, opacity 1s ease; 
  } */
  
  /* .carousel-section.visible {
    transform: translateY(0); 
    opacity: 1; 
  }
   */
  .carousel-container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
  }
  
  /* .carousel-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
  } */
  
  .carousel {
    display: flex;
    gap: 20px;
    animation: scroll-carousel 10s linear infinite paused; 
  }
  
  .carousel-item {
    flex: 0 0 auto;
    width: 150px;
    height: 100px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  /* /* #slider-1 .carousel {
    animation-name: scroll-carousel-left; 
  } */
  
 
  /* #slider-2 .carousel {
    animation-name: scroll-carousel-right; 
  } */ 
  #slider-1 {
    animation: scroll-carousel-left 10s linear infinite paused; 
  }
  
  /* Слайдер 2 */
  #slider-2 {
    animation: scroll-carousel-right 10s linear infinite paused; 
  }
  @keyframes scroll-carousel-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); 
    }
  }
  
  /* Анімація для другого слайдера (рух вправо) */
  @keyframes scroll-carousel-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%); 
    }
  }




  /* @keyframes scroll-carousel-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

  @keyframes scroll-carousel-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  
  } */