
.steps__section {
    
    text-align: center;
    
  }
  

  

  
  .steps__container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .step {

    background: var(--gradient-collor);

   
    border-radius: 15px;
    padding: 24px;
    max-width: 355px;
    width: 100%;
 
    box-shadow: 0 4px 10px #87CEC7;
   
    display: flex;
    align-items: center;
    column-gap: 16px;

  }
  .step__img-wrapper {
    flex-shrink: 0;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden;
    width: 72px;
    height: 124px;


  }

 
  .step__content{
    text-align: left;

  }
  .step__icon {

  object-fit: cover;
    width: 72px;
    height: 124px;
  
  }
  
  .step__title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-dark);
    line-height: 1.1;

  }
  
  .step__description {

    line-height: 1.1;
    color: var(--color-primery);
  }
  
  .steps-footer {
    margin-top: 30px;
  }
  
  .steps-bonus {
    font-size: 20px;
    font-weight: 600;
    color: #7716C5;
    margin-bottom: 15px;
    align-items: center;
  }
  

  
  .steps-button {
    background-color: #5C1E8E;
    color: #fff;
    border: none;
    border-radius: 999px;
    padding: 21px 107px;

    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
  }
  
  .steps-button:hover {
    background-color: #7716C5;
  }
  .steps-button:active {
    transform: scale(0.95); 
  background-color: #4a0072; 
  border-color: #4a0072;
  }
  .img--monet {
     display: inline-block;
  
     vertical-align: middle;
  }