/* Блок секції */
.users {
    /* padding: 50px 20px; */
    /* background: linear-gradient(90deg, #eaf8ff 0%, #d9f3ff 100%); */
    /* padding-top: 96px; */
    text-align: center;
    /* border: 2px solid #79ece1; */
    /* border-radius: 15px; */
    /* background: radial-gradient(circle at 30% 60%, #7AFBE8, transparent 20%), */
              /* radial-gradient(circle at 70% 60%, #D3FF6A, transparent 20%); */
      /* overflow: hidden; */
      overflow-x: visible;
  }
  .users::before,
.users::after {
  content: '';
  position: absolute;
  z-index: -1; /* Відправляємо на задній план */
  filter: blur(50px); /* Розмиття */
  transform: translate(-50%, -50%);
}

.users::before {
  width: 150px;
  height: 300px; /* Прямокутна форма */
  background: #7AFBE8;
  top: 50%;
  left: 30%;
}

.users::after {
    width: 150px;
    height: 300px; /* Прямокутна форма */
  background: #D3FF6A;
  top: 55%;
  left: 70%;
}
  /* Заголовок */
  .users__title {
    /* font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000; */
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 16px;
  }
  
  /* Бонуси */
  .users__bonus {
    /* font-size: 32px; */
    /* font-weight: 700; */
    color: #6a0dad;
    /* margin-bottom: 24px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .users__coin {
    width: 45px;
    height: 45px;
  }
  
  .users__bonus-amount {
    color: #7716C5;
  }
  
  /* Аватари */
  /* .users__avatars-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  } */
  .users__avatars {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
     /* overflow: hidden; */
    overflow-x: visible; 
    /* justify-content: flex-start; */
    
    align-items: center;
    gap: 10px;
    /* flex-wrap: wrap; */
   
    
    margin-bottom: 20px;
  }
  
  .users__avatars--bottom {
    margin-top: 20px;
    overflow-x: visible; 
  }
  
  .users__avatars {
    /* width: 60px; */
    /* height: 60px; */
    /* border-radius: 50%; */
    /* overflow: hidden; */
    /* background-color: #fff; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  }
  .users__avatar {
    flex: 0 0 auto;
    overflow: hidden;
  }

  .users__avatar1{
        width: 100px;
        height: 100px;
  }
  .users__avatar2 {
    width: 82px;
    height: 81px;
  }
 .users__avatar3{
    width: 103px;
    height: 81px;
 }
 .users__avatar4{
    width: 152px;
    height: 99px;
 }
 .users__avatar5{
    width: 121px;
    height: 72px;
 }
  .users__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Кнопка */
  .users__button {
    background-color: #6a0dad;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .users__button:hover {
    background-color: #4a0072;
  }
  
  /* Адаптивність */
  @media (max-width: 768px) {
    .users__avatars {
      gap: 5px;
    }
  
    /* .users__avatar {
      width: 50px;
      height: 50px;
    } */
  
    .users__button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .users__bonus {
      font-size: 18px;
    }
  
    .users__avatar {
      width: 40px;
      height: 40px;
    }
  }