

html { scroll-behavior: smooth; }
.hero-last__section {
  padding-top: 96px;
    
}
#involve { scroll-margin-top: 84px; }
  .last-page__title {
    font-weight: 600;
    font-size: 32px;

    margin-bottom: 24px;
    color: var(--color-primery);
    text-align: center;
    
  }
   

  .hero__subtitle {
    color: #1F2024;
  }
  .hero-last__container {
    position: relative;
    background: var(--gradient-collor);
    border-radius: 16px;
    padding: 28px 40px 36px 72px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
   

    
  }
 

  .hero-last__content {
    flex: 1;
    color: #000;
    max-width: 570px;
  }
  
 
  .reverse {
    margin-bottom: 24px;
  }
  .hero-last__title{
    margin-bottom: 24px;
    line-height: 1.1;
}
  .hero-last__text {
     margin-bottom: 8px;
     line-height: 1.1;
     
}
 
  
  .hero-last__image-container {

    position: absolute; 
    top: 40px;
    right: 40px;
    transform: translateY(-50%);
    z-index: 88;
  }
  

  .hero__image{
    max-width: 100%;
    height: auto;
  }
  



  .download-btn {
  
    display: inline-flex;
    justify-content: center;
    padding: 8px 80px;
    align-items: center;

    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .app-store-btn {
    background-color: #000;
  }
  
  .google-play-btn {
    background-color: #000;
  }
  .download-btn:hover {
    background-color: #333;
  }
  .download-btn:active {
    opacity: 0.9;
    transform: scale(0.95);
    background-color: #333;

  }
  
 @media (max-width: 1161px){
  .hero-last__image-container {
    top: 30px;
    }
  }

   @media (max-width: 1154px){
  .hero-last__image-container {
 
    top: 136px;

    }
  }

     @media (max-width: 950px){
  .hero-last__image-container {

    left: auto;
    right: auto;
   
    }
    .hero-last__container{
     
      flex-direction: column;
      background: none;
      padding: 0;
   
      
    }
    

    .hero-last__section {
      padding-top: 0;
    }
    .hero-last__content {
    
      margin-top: 300px;

    }
    .hero-last__title {
      margin-bottom: 8px;
    }

     .reverse {
      display: flex;
      flex-direction: column;
      flex-direction: column-reverse;
     }
  }
      @media (max-width: 950px){
        .hero-last__section .steps-button {
          width: 100%;
          padding: 21px 0;
        }
        .last-page__title {
          font-size: 24px;
          
        }
         
      }