.involve{
 
  --muted:#44515f;
             
  --card-sh:0 14px 36px rgba(2,6,23,.10);
  --radius:18px;
}

/* секція */
.involve{
  
   color: var(--color-title);
 
}


.involve__card{
  position: relative;
  overflow: hidden;

  background: linear-gradient(rgba(137,237,227,.5), rgba(0,176,159,.5));
 
  display: grid;
  grid-template-columns: minmax(0, 480px) minmax(0, 480px);
  gap: 16px;
  padding: 46px 72px;
  justify-content: space-between;
  border-radius: 16px;
  min-width: 0;

}

/* Ліва картинка */
.involve__card::before{
  content:"";
  position:absolute;
  left:6%;              
  bottom:40px;
  width:clamp(140px, 22vw, 350px);
  aspect-ratio: 381 / 280; 
  background: url("../../img/Involvement/involvement_1.png") center/contain no-repeat;
  transform: rotate(-10deg);         
  transform-origin: 50% 50%;
  pointer-events:none; user-select:none;
}

/* Права картинка */
.involve__card::after{
  content:"";
  position:absolute;
  right:50%;
  bottom:23%;
  width:clamp(120px, 26vw, 250px);
  aspect-ratio: 344 / 311; 
  background: url("../../img/Involvement/involvement_2.png") center/contain no-repeat;
  transform: rotate(9deg);          
  transform-origin: 50% 50%;
  pointer-events:none; user-select:none;
}



.involve__copy {

}
.involve-title{

  font-size: 38px;

  margin-bottom: 8px;
}
.involve__lead{
  line-height: 1.2;
}
.involve__lead:not(:last-child){
  margin:0 0 16px;

}
.involve__desc{

  max-width:38ch;
}

/* форма */
.involve__form{
 
  border-radius: 16px;

  display:grid;

  column-gap: 8px;
  row-gap: 16px;
}

.frow{
  display:grid;
  grid-template-columns: 84px 1fr;    
  gap:8px;
  

  align-items:center;
}
.involve__form, .frow { min-width: 0; }
.frow label{
  font-size:16px;
  color:var(--color-primery);
}
.frow input::placeholder {
  color: #A2A8BC;
  font-size: 16px;
}
.frow input{
  height:56px;
  border-radius:600px;
  border:none;
  background:#fff;
  padding:0 14px;
  outline:none;
 
}
.frow input:focus{
  box-shadow: inset 0 0 0 2px #8ED5CE;
  
}


.factions{
  display:grid;

  margin-top: 34px;
  padding-left: 52px; 
}
.tiny{
  display: none;

}


/* мобілка */


@media (max-width:960px){
 .involve__card {
    grid-template-columns: 1fr;

      justify-items: stretch; 
    text-align: center;
    padding: 24px 20px;
  }
  .involve__card::before{

    display: none;
  }
  .involve__card::after{

    display: none;
  }
  .involve-title{

  font-size: 24px;
  margin-bottom: 16px;
}
  .factions{

  margin-top: 24px;
  padding-left: 0; 
}
.frow {
  grid-template-columns: 1fr;
}
.frow label {
  text-align: left;
  font-size: 14px;
}
.factions .steps-button {
  width: 100%;
  display: block;
  padding:16px 0 ;
}
.tiny{
  display: block;
  font-size:12px;

  margin:16px 0 0;
}
.frow input{
  width: 100%;
  box-sizing: border-box;   
}
}

