
.partners{
  --card-w:262px;
  --card-h:140px;
  --partners-radius:14px;
  --radius: 8px 
}



.partners-title { 
  text-align:center; 
 
    margin:0 0 24px;

 }


.partners__list{
  list-style:none; margin:0; padding:0;
  display:grid;
  row-gap: 16px;
  column-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-w), var(--card-w)));
  justify-content:center; 
}


.partners__item{
  width:var(--card-w);
  height: var(--card-h);
  
  background-color: rgba(255, 255, 255, 0.5);
  border-radius:var(--radius);
  
    box-shadow: 0 6px 22px rgba(2,6,23,.08);
  display:grid; 
  place-items:center;
  padding:18px;                
}


.partners__logo{
  max-width: 164px;
  max-height: 44px;
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

@media (max-width:640px){
  .partners{
    --card-w:171px;
    --card-h:91px;
  }
  .partners__list{
   
      grid-template-columns: repeat(2, minmax(130px,171px));
    justify-content:center;
    gap: 16px 8px;
  }
  
   .partners__item{
    height: var(--card-h);
    width: 100%;
    padding: 12px;
  }

.partners__logo{
    max-width: 100px;
    max-height: 40px;
  }

}
