


.products-b2b__list{
  list-style:none;
  margin:0 auto;
  padding:0;

  display:flex;
  flex-wrap:wrap;
  gap:18px;                   
  justify-content:center;     
}


.products-b2b__item{
  flex: 1 1 358px;    
  max-width: 358px;   
  display:flex;   
              
}


.product-card{
  width:100%;
  height: 259px;      
  background:#fff;
  border:1px solid #e7eef6;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  padding:36px 20px 24px;

  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content: space-between;
}


.product-card__title{
  font-size: 28px;
 
  line-height: 150%;
  margin-bottom: 16px;
}
.product-card__text{
  
  font-size: 16px;
  margin:0;
  line-height:1.2;
}


.product-card__btn{
 
  margin-top: 24px;

}
.product-card__btn:hover{ transform:translateY(-1px); background:#eceeee; }
.product-card__btn:active{ transform:translateY(0);background:#e2e2e2; }


@media (max-width:640px){
  .products-b2b__list{ gap:14px; }
}