
   .video__section{
  --video-w: 180px;
  --video-h: 348px;
  --gap: 16px;
}
.margin-bottom-159 {
    margin-bottom: 159px;
}
.video__section{
 
  text-align: center;
   max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.videos__list{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;             
  gap: var(--gap);
  justify-content: center;      
  align-items: flex-start;
}


.videos__item{
  flex: 0 0 var(--video-w);     
  width: var(--video-w);
  height: var(--video-h);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 28px rgba(2,6,23,.12);
  background: #eef2f7;
}
.videos__item {
  position: relative;
}

.videos__item img{
  
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;           
}


@media (max-width: 760px){
 .videos__item:last-child{
    display: none;
  }
}
@media (max-width: 600px){
  .video__section{ --gap: 8px; }
 
  .margin-bottom-159{
  margin-bottom: 56px;
 }
   .video__section  {
    
    padding-inline: 8px;
 }
}
